<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CM_Reprocess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CM_Reprocess.Properties.Settings>
            <setting name="AmadeusPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AbacusPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AmadeusProcessing" serializeAs="String">
                <value>\\192.168.0.6\GDS Air Files\ASP Air Files</value>
            </setting>
            <setting name="AbacusProcessing" serializeAs="String">
                <value>\\192.168.0.6\GDS Air Files\Abacus</value>
            </setting>
            <setting name="DirectAmadeusPath" serializeAs="String">
                <value>\\192.168.0.6\GDS Air Files\Amadeus</value>
            </setting>
            <setting name="CebuPacPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CebuPacProcessing" serializeAs="String">
                <value>\\192.168.0.6\GDS Air Files\CAPI</value>
            </setting>
        </CM_Reprocess.Properties.Settings>
    </userSettings>
</configuration>